<head>
        <title>Yellow Cab</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/x-icon" image:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDxwzuGX35ThMTpt-0qX6HJLTvVUjvrvPdW5A2vX7Prir289kE"/>
<style>
body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("http://www.comparestoreprices.co.uk/images/su/sun-star-die-cast-model-checker-a11-new-york-yellow-cab-118-scale-in-yellow-.jpg");

    /* Half height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: 50px 50px 50px 50px;
    padding: 100px;
    background-repeat: no-repeat 95% 50%;
    background-attachment: fixed;
    background-size: cover;

}
</style>

</head>
    <body>

      <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <i class="navbar-header material-icons" style="font-size:48px;">local_taxi</i>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">About</a></li>
                        <li><a href="/">Login</a></li>
                        <li><a href="/">Register</a></li>
                        <li><a href="/">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

          <div class="bg"></div>


<h1> Welcome to Yellow Cab Services<h1>


   </body>
