<html>
	<% provide(:title, "Register") %>
	<head>
        <%= render 'layouts/navigationBar'%>
	</head>
	<body>
		<div class="container">
			<div class="centered">
        		<h1 style="text-align:center">Register</h1>
     		</div>
		    <div class="row">
		        <div style="width: 30%; margin: 25px auto ">
		            <%= render 'form', employee: @employee %>
					<%= link_to 'Back', employees_path %>
		        </div>
		    </div>
		</div>
	</body>
</html>