<html>
  <% provide(:title, "About") %>
  <head>
    <%= render 'layouts/navigationBar'%>
	</head>
  <body>
    <div class="container">
      <div class="centered">
        <h1>About Us:<h1>
      </div>
      <div class="row">
        <div style="width: 30%; margin: 25px auto ">

        </div>
      </div>
    </div>



	</body>
</html>
