<html>
  <p id="notice"><%= notice %></p>
  <head>
    <%= render 'layouts/navigationBar'%>
  </head>

  <style>

  h1{
    padding-top: 500px;
    font-size: 70px;
  }

  </style>

  <body>
    <div class="container">
      <div class="centered">
        <h1>Welcome to Yellow Cab Services</h1>
      </div>
    </div>
  </body>
</html>
