

<html>

	<head>
      <% provide(:title, "Register") %>
      <%= render 'layouts/navigationBar'%>
	</head>

	<style>

	.top{
	  padding-top: 50px;
	}

	</style>

<body>


<div class="container-fluid">

				<h1 class="top">Registration</h1>
          <%= render 'form', employee: @employee %>
				

</div>
	</body>
</html>
