body, html {
    height: 100%;
}
.bg {
    /* The image used */

    /* Half height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    padding: 25px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 700px 500px cover;
    opacity: 0.5;
    /*background-size: contain;*/
}
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {

    height: 100%;
    text-align: center;

    background-position: center;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1{
  font-family: 'Patua One', cursive;
  color: black;
}
